@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";

$grey-darker: #222725;
$hvite-ter: #EBEBEB;
$orange: #ff7b00;
$blue: #0073bd;
$purple: #94268E;

$primary: $orange;
$primary-invert: findColorInvert($primary);

$link: $purple;
$link-invert: findColorInvert($link);

$info: $blue;
$info-invert: findColorInvert($blue);

$family-sans-serif: 'Montserrat', sans-serif;

@import "../../node_modules/bulma/bulma.sass";
