body {
  min-height: 100vh;
}

main {
  min-height: 64vh;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: 'Saira', sans-serif !important;
}

.text-script {
  font-family: 'Seaweed Script', cursive !important;
}
