@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab');

body {
  min-height: 100vh;
  font-size: 1.25rem;
}

main {
  min-height: 64vh;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: 'Roboto Slab', sans-serif;
}

.text-script {
  font-family: 'Roboto Condensed', sans-serif;
}

blockquote,
.text-mono {
  font-family: 'Roboto Mono', monospace;
}
