@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab');

body {
  min-height: 100vh;
  font-size: 1.25rem;
  background-image: url('https://www.datocms-assets.com/4973/1522832093-bg.svg');
  background-position: center;
  background-size: cover;
}

main {
  min-height: 64vh;
  margin-top: 64px;
  display: block;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: 'Roboto Slab', sans-serif;
}

blockquote {
  font-family: 'Roboto Mono', monospace;
}

.button {
  border-radius: 0 !important;
}

.is-outlined {
  border-width: 3px !important;
  background-color: rgba(34, 39, 37, .15) !important;
}

@media only screen and (max-width: 512px) {
  .buttons:not(.is-mobile) {
    flex-direction: column;

    .button {
      margin-right: 0;
    }
  }
}

.input {
  border-radius: 0 !important;
  color: #222725 !important;
}

.is-dark {
  .content {
    *:not(input) {
      color: #EBEBEB !important;
    }
  }
}

.hero.is-dark a {
  color: #94268E !important;

  &:hover {
    color: #EBEBEB !important;
  }
}

